* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #8BAAAD;
    text-align: center;
}

.heading{
    color: white;
    font-size: 50px;
    padding: 10px;
    background-color: #1C3738;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.choices img:hover{
    opacity: 0.7;
}

.choices img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.scores{
   display: flex;
   justify-content: center;
   padding: 60px 0;
   gap: 100px;
   font-size: 30px;
}

.msg{
    display: inline-block;
    background-color: #1C3738;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 20px;
}
